# .gitignore

.env

/data/*
!/data/.gitkeep

/share/*
!/share/.gitkeep
!/share/tmp
/share/tmp/*
!/share/tmp/.gitkeep

/p2p-src/vendor/
/p2p-src/node_modules/
/p2p-src/public/storage
/p2p-src/.phpunit.result.cache
/p2p-src/Homestead.json
/p2p-src/Homestead.yaml
/p2p-src/npm-debug.log
/p2p-src/yarn-error.log
/p2p-src/test-report.xml
/p2p-src/phpunit.xml
/p2p-src/php_cs.cache
/p2p-src/.php_cs.cache
/p2p-src/.phpunit.result.cache
/p2p-src/storage/*.key
/p2p-src/.idea
/p2p-src/.vscode
